<table class="table">
	<thead>
		<tr>
			<td>编号</td>
			<td>标题</td>
			<td>评论时间</td>
			<td>会员ID号</td>
			<td>点击次数</td>
			<td>会员名称</td>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data.cms">
			<td><input type="checkbox" ng-model="item.checked"></td>
			<td>{{item.title}}</td>
			<td>{{item.time | date}}</td>
			<td>{{item.author}}</td>
			<td>{{item.clickTimes}}</td>
			<td>{{item.category | idToName:categorys}}</td>
			
		</tr>
	</tbody>
</table>

<div class="btn-group">
	<button class="btn btn-primary">发表评论</button>
	<button class="btn btn-primary">撤销评论</button>
	<button class="btn btn-primary">推荐</button>
</div>
